__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
*.sqlite3
*.db
*.pkl
.pytest_cache
.coverage
htmlcov
.env
.venv
env/
venv/
ENV/
.git
.gitignore
*.md
.DS_Store
app/vectordb/
models/*.pkl
vectordb/